body{
    background-color: rgba(238,238,238,1);
    margin: 0;
}


h1{
    color:#003366;
    font-family: 'Comfortaa'
}

h2{
    color:#00CCCC;
}

h3{
    color:#003366;
}

h4{
    color:#003366;
}

h3{
    color:#003366;
}

